#/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# --- PENGATURAN DATABASE ---

# Jika ingin database lokal ikut ter-upload (HANYA UTK LATIHAN),
# berikan tanda pagar (#) di depan baris *.sqlite di bawah ini:

# database/*.sqlite 
# (Kalau ada pagar # artinya TIDAK di-ignore, jadi ikut terupload)

# Tapi file jurnal database harus tetap di-ignore:
database/*.sqlite-journal

# --- STORAGE & CACHE ---
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Kecuali file .gitignore di dalam folder tersebut (agar foldernya tetap ada)
!/storage/app/public/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore